.getAQuote {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.get_a_quote_container {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right:20px ;
    text-align: start
}
.left >h3{
    color:white;
}
.left >h1{
    color:white;
}
.left >p{
    color:white;
}
.right {
  width: 50%;
}
.form_div {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  max-width: 450px;
  width: 300px;
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
}
.get_a_quote_btn {
  background-color: black;
  padding: 10px;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}
.get_quote_btn {
    padding: 10px;
    text-align: center;
    border: none;
    padding: 15px 20px;
    line-height: 1;
    background-color: #009cff;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    align-self: normal;
    margin-top: 10px;
}
.form_div > input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
